DB_HOST=${{MYSQLHOST}}
DB_USER=${{MYSQLUSER}}
DB_PASSWORD=${{MYSQLPASSWORD}}
DB_NAME=${{MYSQLDATABASE}}
PORT=3000
NODE_ENV=production
JWT_SECRET=clave_secreta_muy_segura_2026_cambia_esto
MAX_FILE_SIZE=10485760
UPLOAD_PATH=./uploads
